
<% provide(:title, @user.name) %>
	

<div class="container">
	<div class='row'>
        	<div class='block'>
			  	<h1>
			  		<%= gravatar_for @user %>
			 		<%= @user.name %>
			 		<br/>
			 		<%= link_to 'Edit Profile', edit_user_path(@user), class: "editprofile" %>
				</h1>
				<h1><%= render '/microposts/micropost_form' %>
				</h1>
        	</div>

        	

		    <div class="block">
			    <br/>
			    <br/><br/><br/><br/><br/><br/>
			    <% if @user.microposts.any? %>
			      <h4>You have <%= @user.microposts.count %> posts so far !</h4>
			        <br/>
			        <%= render '/microposts/microposts' %>
			      <%= will_paginate @microposts %>
			    <% end %>
		    </div>
    </div>
</div>



